.container {
  max-width: 500px;
  margin: 24px auto;
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.text-align-left {
  text-align: left;
}

.my-button {
  min-width: 100px !important;
}

.checked {
  text-decoration: line-through;
}